.intro {
    height: 100vh;
}

.intro {
    background-image: url(../pics/zomatoBiriyani.jpg);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
}

.intro > .tagline {
    padding: 30px;
}

.tagline {
    display: inline-block;
    margin-top: 8%;
    margin-left: 10%;
}

.tagline > * {
    margin: 35px 0;
}

.tagline-main > p {
    text-align: center;
    font-size: 64px;
}

.tagline-small > p {
    text-align: center;
    font-size: 20px;
}

.tagline-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagline-button {
    padding: 8px 16px;

    border-radius: 24px;

    cursor: pointer;
    background-color: var(--primary-orange);
    color: white;

    font-size: 24px;

    border: transparent;

    transition: all 300ms ease;
}

.tagline-button:active {
    background-color: red;
}

.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.intro * {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
}

.side-heading {
    text-align: center;
    padding: 60px;
    font-size: 40px;
    font-weight: 700;

    color: grey;
}

.card-holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 100px;
    justify-content: center; 
    max-width: 0.1px;
    margin: 0 auto;

    margin-bottom: 50px;
}

.card {
    border: solid rgba(0, 0, 0, 0.139) 1px;
    border-radius: 10px;
    width: 240px;

    padding: 15px;

    background: url(../pics/background.png);
    background-size: cover;
}

.card .title {
    font-weight: 800;
    font-size: 20px;
}

.card .top {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5px;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10px 0 5px 0;
}

.card .price {
    margin: 10px;
    font-weight: 700;
    font-size: 20px;
}

.card-image {
    height: 230px;
    width: 150%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -20px; 
}


.btn-cart {
    padding: 10px 20px;
    background-color: var(--primary-orange);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-cart:hover {
    background-color: #FF6B6B;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.btn-cart:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.card .rating {
    color: red;
    font-weight: 800;
    font-size: 18px;
}


.credits {
    text-align: center;
    background-color: #ffc107;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}